canvas{
    pointer-events : auto;
    margin-left:120px;
}

table,td,th{
	border: 1px solid #ddd;
    border-collapse: collapse;
    padding: 2px;
}

textarea{
    resize:none;
    overflow:auto;
}

hr{
    width:80%;
    margin-top:10px;
}

#arrow_menu{
	width: 110px;
	box-shadow: 5px 5px 5px 0px #888888;
	position: absolute;
	display:none;
}

#arrow_menu input[type="text"]{
	width: 45px;
	border: none;
}

#io_table{
   float:right; 
}

#io_table td{
	max-width: 100px;
	word-wrap: break-word;
}

.highlight{
    background-color:hsl(120,60%,70%);
}
