canvas{
    pointer-events : auto;
    margin-left:120px;
    border:2px solid;
}

.border-dark{
    border-color: white;
}

table,td,th{
	border: 1px solid #ddd;
    border-collapse: collapse;
    padding: 2px;
}

textarea{
    resize:none;
    overflow:auto;
}

hr{
    width:80%;
    margin-top:10px;
}

.content {
    display: flex;
    justify-content: center;   
}

.content > button{
    margin : 5px;
}

#arrow_menu{
	max-width: 110px;
	box-shadow: 5px 5px 5px 0px #888888;
	position: absolute;
	display:none;
    border: 2px solid;
    background-color:gray;
}

#arrow_menu input[type="text"]{
	width: 45px;
	border: none;
}

#io_table{
   float:right; 
   width:140px;
   min-width:120px;
   table-layout:fixed;
}

#io_table td{
	max-width: 100px;
	word-wrap: break-word;
}

.highlight{
    background-color:hsl(120,60%,70%);
}

.highlight-dark{
    background-color:white;
    color: black;
}


#input_box{
    max-width: 182px;
    margin-left: auto;
    margin-right: auto;
}

#submit_btn{
    margin-left: 35px;
}


legend{
    margin-bottom: 0px;
}

button{
    background-color: #e7e7e7; 
    color: black;
    border:none;
    padding: 5px 5px;
}

button:hover{
    background-color: grey;
    color: white;
}

.dark-mode{
    color: white;
}

.body-dark{
    background-color: black;
}
