canvas{
    pointer-events : auto;
}

table,td,th{
	border: 1px solid #ddd;
}

#arrow_menu{
	width: 100px;
	box-shadow: 5px 5px 5px 0px #888888;
	position: absolute;
	display:none;
}

#arrow_menu input[type="text"]{
	width: 45px;
	border: none;
}

#io_table{
    position : absolute; 
    top : 50px;
    right : 0px;
    margin: 10px;
    border-collapse: collapse;
}

#io_table td{
	max-width: 100px;
	word-wrap: break-word;
}
